<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!-- 		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property> -->
<!--         <property name="hibernate.connection.password">hr</property> -->
<!--         <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521/xepdb1</property> -->
<!--         <property name="hibernate.connection.username">hr</property> -->

		
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/xe</property>
        
		<property name="hibernate.current_session_context_class">thread</property>
        
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        
        
        
		<!--佳恩 -->
        <mapping class="team6.nn.entity.Citys"/>
        <mapping class="team6.nn.entity.Attractions"/>
        <mapping class="team6.nn.entity.AttractionTypes"/>
        <mapping class="team6.nn.entity.Tags"/>
        <mapping class="team6.nn.entity.AttractionComments"/>
        <mapping class="team6.nn.entity.Files"/>
        

        
        
        
		<!--仲康 -->
        <mapping class="team6.johnny.model.Article"/>
<!--         <mapping class="tw.reicheng.model.Department"/> -->
        
<!--         <mapping class="tw.reicheng.model.Books"/> -->
<!--         <mapping class="tw.reicheng.model.BooksDetail"/> -->
        
<!--         <mapping class="tw.reicheng.model.Stock"/> -->
<!--         <mapping class="tw.reicheng.model.StockTransaction"/> -->
        
<!--         <mapping class="tw.reicheng.model.Profiles"/> -->
        
        <!-- 兆成 -->
        <mapping class="wey.entity.Animals"/>
        <mapping class="wey.entity.AdoptionRecords"/>
        <mapping class="wey.entity.Breeds"/>
        
    </session-factory>
</hibernate-configuration>
